* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  height: 100%;
}
body {
  display: flex;
  align-items: flex-end;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.flexbox {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  /* overflow: auto; */
}

/* .flexbox img {
  width: 100%;
  cursor: pointer;
  object-fit: contain;
  transition: opacity 250ms ease-in-out;
  opacity: 0.5;
}

.flexbox img:hover {
  opacity: 1;
} */

.active {
  opacity: 1 !important;
  cursor: auto !important;
}

/* default button */
button {
  border: none;
  color: #fff;
  background-color: rgba(148, 4, 71, 0.817);
  cursor: pointer;
  border-radius: 3px;
  padding: 0.8vw 1.5vw;
}

button:hover {
  background-color: rgb(148, 4, 71);
}

/* info */
.info-container {
  color: #fff;
  z-index: 1;
  /* overflow: clip;
  overflow-clip-margin: 2rem; */
  /* only the info-icon should be visible! */
  /* overflow: hidden; */
  height: 64px;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);
}

.info-content {
  padding: 2rem;
  background-color: #202020;
  height: calc(100% - (64px + 4rem));
  overflow: auto;
  /* box-shadow: 0 4cm 8px 0 rgba(255, 255, 255, 0.802),
  0 6px 20px 0 rgba(251, 251, 251, 0.916); */
}
.icon-container {
  width: 100%;
  text-align: center;
  /* background-color: #2a2a2ac2; */
}
.info-icon {
  font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 10, 'opsz' 24;
  vertical-align: top;
  position: relative;
  background-color: #202020;
  font-size: 64px !important;
  color: #ffffffbd;
  cursor: pointer;
  /* border-radius: 5px 5px 0 0; */
  /* border-top-left-radius: 5px; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 4;
  user-select: none;
  transition: all 0.5s cubic-bezier(0.39, 0.58, 0.57, 1),
    border-radius 0.3s linear;
}

.info-icon:active {
  border-radius: 50% !important;
}

.info-icon::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  bottom: 0;
  z-index: -1;
  border-radius: inherit;
  /* background-color: #272727d1; */
  background-color: #464646c2;

  /* background-color: #d02e2e; */
  transition: all 0.5s ease-in-out, border-radius 0.1s linear;
}

.info-icon:hover::before {
  height: 100%;
}

.info-icon .radius-changes::before {
  border-radius: 50% !important;
}

.error-bg{
  background-color: rgb(130, 43, 43) !important;
}

.done-bg{
  background-color: rgb(44, 110, 44) !important;
}