$close-button-size: 3rem;
$save-color: rgb(48, 64, 48);

#popup,
#failed-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  // background-color: #b3b3b3;
  display: grid;
  place-content: center;
  backdrop-filter: blur(2px);
  z-index: 1;
  color: #fff;
  font-family: sans-serif;

  .popup-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    padding: 1rem;
    transform: scale(0.2);
    background-color: #202020;
    border-radius: 8px;
    border-top-right-radius: 0;
    // width: 40vw;
    transition: opacity 0.3s ease-in-out, transform 0.7s ease-in-out;

    &.visible {
      opacity: 1;
      transform: scale(1);
    }

    .image-container {
      width: 30vw;
      height: 15vw;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: cover;
      }

    }
  }

  .close-button {
    position: absolute;
    cursor: pointer;
    color: rgb(154, 154, 154);
    font-weight: bolder;
    top: -$close-button-size;
    right: 0;
    height: $close-button-size;
    width: $close-button-size;
    background-color: #202020;
    line-height: $close-button-size;
    text-align: center;
    border-top-right-radius: 8px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #464646c2;
    }
  }

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    #popup-footer {


      .save-button,
      .login-register-button {
        background-color: rgb(48, 64, 48);
        position: relative;
        font-weight: bolder;
        z-index: 2;
        margin: 0 1rem;

        &::before {
          content: '';
          position: absolute;
          scale: 0;
          inset: 0;
          border-radius: 3px;
          background-color: rgb(77, 122, 84);
          transition: all 0.3s ease-in-out;
          z-index: -1;
        }

        &:hover {
          &::before {
            scale: 1;
          }
        }

        &:disabled {
          // background-color: rgba(48, 64, 48, (lightness($color: rgb(48, 64, 48))));
          background-color: lighten(rgb(48, 64, 48), 10%);

          &:hover {
            background-color: none;
            cursor: initial;
          }

          &::before {
            background-color: none;
            scale: 0;
          }
        }
      }

      .cancel-button {
        background-color: rgb(130, 43, 43);
        position: relative;
        z-index: 2;

        &::before {
          content: '';
          position: absolute;
          scale: 0;
          inset: 0;
          border-radius: 3px;
          background-color: rgb(187, 87, 87);
          transition: all 0.3s ease-in-out;
          z-index: -1;
        }

        &:hover {
          &::before {
            scale: 1;
          }
        }
      }


    }

    // default input
    input {
      flex: 1;
      height: 100%;
      border-radius: 2px;
      border: none;
      font-size: 1rem;
      font-weight: bolder;
      color: $save-color;

      &:focus {
        outline: 2px solid $save-color;
      }

      &::selection {
        background: $save-color;
        color: #fff;
      }
    }

    #name-container {
      flex: 1;
      display: flex;
      align-items: center;
      height: 100%;

      #name-input {
        margin-left: 0.5rem;
        padding: 0 0.4rem;
      }
    }

    .login-register-container {
      width: 60%;

      .login-register-form {
        flex: 1;
        display: flex;
        flex-direction: column;

        input {
          height: 2rem;
          width: 100%;
          padding: 0 0 0 0.4rem;
        }

        label {
          font-size: 1.2rem;
          text-transform: capitalize;
        }

        .input-progress-container {
          display: flex;
          position: relative;
          margin-bottom: 1rem;
          align-items: center;
        }

        .progress-container {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2rem;
          position: absolute;
          right: 0;
          height: 100%;
          background-color: hotpink;
          visibility: hidden;

          .email-loader {
            position: relative;
            font-size: initial;
            font-size: 1.5rem;
            margin: 0;
          }
        }

        .progress-container-visible {
          visibility: visible;
        }
      }
    }
  }

  #hr {
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 1px solid #535353;
    margin: 1em 0;
  }


  .result-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 2rem;

    .success-icon,
    .failed-icon {
      font-size: 8vw;
      border: 4px solid #fff;
      border-radius: 50%;
    }


    .success-icon {
      color: #317931;
    }

    .failed-icon {
      color: #96131c;
    }

    .result-message {
      font-size: 1.2vw;
      margin-top: 2vw;
    }
  }

}

#loader,
.no-presets-found {
  font-size: 6vw;
  position: absolute;
  inset: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
}

.loader-rotate {
  animation: rotate-center 0.6s ease-in-out infinite both;

  @keyframes rotate-center {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}