.no-presets-found-container {
  position: relative;
}

.preset-info-container {
  position: relative;
  width: 24%;
  cursor: pointer;


  &:hover {
    img {
      opacity: 1;
    }

    .created-by::before {
      width: 100%;
      background-color: rgb(255, 255, 255);
    }
  }

  img {
    width: 100%;
    opacity: 0.5;
    // object-fit: contain;
    transition: opacity 250ms ease-in-out;
    z-index: 1;

  }
}

.created-by {
  font-size: 1.2vw;

  position: absolute;
  display: block;
  max-width: calc(100% - 1rem);
  overflow-wrap: break-word;
  // background-color: rgba(136, 136, 136, 0.781);

  inset: 0;
  z-index: 1;
  width: fit-content;
  height: fit-content;


  background: rgba(70, 70, 70, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 3px;
  padding: 0.5rem;
}

.deleteIcon {
  position: absolute;
  z-index: 3;
  bottom: 0;
  right: 0;
  display: block;
  line-height: unset;
  background-color: black;
  padding: 0.5rem;

  &:hover {
    background-color: red;
  }
  
}